<!DOCTYPE html>
<html>
  <head>
    <title>Music APP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Music APP</h1>
    <% if current_user.nil? %>
      <a href="new_session_url">Sign In</a>
      <a href="new_user_url">Sign Up</a>
    <% else %>
      <%= current_user.username %>
      <form action="<%= session_url %>" method="post">
        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
      </form>
    <% end %>
      <%= yield %>
  </body>
</html>
